<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home page</title>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
        body{
            font-family: "Poppins", sans-serif;
            font-weight: 500;
            font-style: normal;
        }
    </style>
</head>
<body>
    <h1>hello from Server</h1>
    <% if (locals.id) { %>
        <p>URL Generated : http://localhost:8001/url/<%= id %></p>
    <% } %>
    <div>
        <form method="post" action = "/url">
            <label for="URL">Enter you Original URL: </label>
            <input type="text" name="url" placeholder="http://www.example.com">
            <button type="submit">Generate</button>
        </form>        
    </div>
    <div>
        <% if (locals.urls) { %>
            <table>
                <thead>
                    <tr>
                        <th>S. No</th>
                        <th>ShortId</th>
                        <th>Redirect</th>
                        <th>Clicks</th>
                    </tr>
                </thead>
                <tbody>
                    <% urls.forEach((url, index) => { %>
                        <tr>
                            <td><%= index + 1 %></td>
                            <td><%= url.shortId %></td> <!-- Assuming shortId is in lowercase -->
                            <td><%= url.redirectURL %></td>
                            <td><%= url.visitHistory.length %></td>
                        </tr>
                    <% }) %>
                </tbody>
            </table>
        <% } %>        
    </div>
</body>
</html>